
:root{
  --leafgreen:#74b472;
  --lightgreen: #cff6b0;
  --bluegreen:#58b081;
  --brown:#907665;
  --blue:#b3eae8;
}

.grade_form{
  background-color: var(--blue);
}
.assignment_form{
  background-color: var(--blue);
  padding-bottom: 300px;
}
.assignment_form table{
  display:inline;
}
.prompt{
  padding-bottom: 20px;
  background-color: var(--blue);
}
.view_text{
  background-color: var(--blue);
}
.grade-table{
  padding-bottom: 320px;
}
.header .username{
  font-family: "Shadows Into Light";
  font-size: 100;
}
[class="assignmentWidget GRADED"] .grade{
  display:inline;
}
.assignment-title{
}
body < table{
  background-image:none;
}
body{
  background-color:var(--blue);
  background-image:url("ourTree2.png");
  background-position:center 160px;

  background-attachment:scroll;
  background-repeat: no-repeat;

}
.person_image{
  width:70px;
  height:110px;
}
label{
  display:block;
  margin-top: 10px;
}
[name="person_image_file"]{
  display:block;
}
form label:nth-child(7){
  color:red;
}
div{

}
.header .person_info .person_image{
/*  margin: 30px;
  background-image: url("border.png");
  background-size: 110px 70px;
  background-blend-mode: lighten;*/
}
.partners{
  position: absolute;
  top:20px;
  right:10px;
  display: block;
}
.nav{

}
a, a:visited{
  // use low contrast for cloud links

}
/*.nav:nth-child(1){
//logout
position: absolute;
top:50px;
left:400px;
background-image: url("/cloud.png");
}

.nav:nth-child(2){
//myAccount
}
.nav:nth-child(3){
//Home
}
.nav:nth-child(4){
//ClassMates
}
.nav:nth-child(5){
//seating
}
*/
.nav a, a:visited{
  margin-right: 10px;
  display: inline;

}
.header{

}

div[class^="day-box"]{
  border:1px solid;
  border-color: gray;
  font-size: 30;

  text-align: center;
  font-size: 20px;
}
[class="day-box COMPLETED"] .day:first-child{
  color:silver;
}
[class="day-box PREP"] .day:first-child{
  color:saddlebrown;
}
[class="day-box CURRENT"] .day:first-child{
  color:saddlebrown;
}

.reading-box .reading:not(.assignment-label){
  color: blue;
}
.reading-box{
display:inline;

}

.notes{
  text-align: center;

}
[class="day-box PREP"]{
  width:300px;
  background-color: var(--leafgreen);
  border-radius:100px;
  overflow: auto;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  position:relative;
  top:300px;
  margin-bottom: 20px;
}

[class="day-box CURRENT"]{
  width:300px;
  background-color: var(--bluegreen);
  border-radius:100px;
  height:150px;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  position:relative;
  top:300px;
}

[class="day-box COMPLETED"]{
  background-color: var(--brown);
  margin-left: auto;
  margin-right: auto;
  height:25px;
  clear:left;
  position:relative;
  top:415px;
  overflow: hidden;
  width:200px;
  border: 2px solid black;



}

@@keyframes moveup {

}
[class="day-box COMPLETED"]:hover{
  width:300px;
  height:300px;
  transform: translateY(-270px);
  transition: transform 1s;
}
/*[class="day-box PREP"]:hover{
  transform: scale(1.5);
  z-index: 1;
}
[class="day-box CURRENT"]:hover{
  transform: scale(1.5);
  z-index: 1;
}*/
.assignment-label{
  color:black;
}
.input_text{
  width: 450px;
  height: 200px;
}
.account_form{
  padding-bottom: 400px;
  background-color:var(--blue);
}
table{
  padding-right: 100%;
  background-color: var(--blue);
}
svg{
  margin: auto;
  height:900px;
  background-color: var(--blue);
  width:60%;
  display: block;
  padding-left: 500px;

}
