.person_image{
  width:70px;
  height:110px;
}
div{
    border:5px solid;
    border-color: gray; 
}
.nav{


}
.header{

}
[class="day-box PREP"]{
  border=5px;
}

[class="day-box CURRENT"]{

}

[class="day-box COMPLETED"]{

}
