.person_image{
  width:70px;
  height:110px;
}
div{
    border:2px solid;
    border-color: gray;
    border-collapse: collapse;
}
.nav{


}
.header{

}
[class="day-box PREP"]{
  background-color: lightBlue;
}

[class="day-box CURRENT"]{
  background-color: lavender;
}

[class="day-box COMPLETED"]{
  background-color: lightYellow;
}
